.input-group {
    padding-left: 10px;
    padding-right: 10px;
}

.form-submit-button {
    float: right;
    margin-right: 10px;
    margin-top: 30px;
}

.commodity-update-form {
    margin: 0 auto;
    width: 95%;
}

.item-name {
    text-align: center;
}

.update-form {
    margin-left: 5.5%;
}

.update-row {
    padding: 10px;
}

.import-planet {
    width: 95%;
    margin: 0 auto;
}